#recipentList {
	width: 94%;
	border-style: solid;
	border-width: 2px;
	border-color: #55739A;
	border-radius: 3px;
}

#recipentList p {
	color:white;
	opacity:.5;
	background-color: #55739A;
	padding-left: 3px;
}

#recipentList #emailButton {
	margin-top: 20px;
}

.recipentDeleter {
	vertical-align:middle;
	margin-right:2px;
}

.eospathView, .projectnameView {
	border-style:groove;
	border-width:2px;
	margin-bottom:10px;
}

.eospathView p, .projectnameView p {
 	margin: 0;
 	padding: 0;
 	font-family: 'Open Sans';
 	font-style: normal;
 	font-weight: 600;
 	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans-Semibold.woff) format('woff');
 }
 
 .projectnameView ul {
 	overflow: hidden;
  }
 
 .projectnameView li {
  	padding-left:2em;
 }